/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


@font-face {
	font-family:"font-wso2";
	src:local("font-wso2"), url("../fonts/font-wso2.eot?6563fa91278f239ef8c827d90a165223");
	src:local("font-wso2"),
        url("../fonts/font-wso2.eot?#iefix") format("embedded-opentype"),
		url("../fonts/font-wso2.woff2?6563fa91278f239ef8c827d90a165223") format("woff2"),
		url("../fonts/font-wso2.woff?6563fa91278f239ef8c827d90a165223") format("woff"),
		url("../fonts/font-wso2.ttf?6563fa91278f239ef8c827d90a165223") format("truetype"),
		url("../fonts/font-wso2.svg?6563fa91278f239ef8c827d90a165223#font-wso2") format("svg");
	font-weight:normal;
	font-style:normal;
}

.fw, [class^="fw-"], [class*=" fw-"] {
    font: normal normal normal 14px/1 font-wso2;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    font-variant: normal;
    speak: none;
    text-decoration: inherit;
    
    /* Better Font Rendering =========== */
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ========================================================================
 * font options
 * ======================================================================== */

.fw-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fw-2x {
    font-size: 2em;
}
.fw-3x {
    font-size: 3em;
}
.fw-4x {
    font-size: 4em;
}
.fw-5x {
    font-size: 5em;
}
.fw-fw {
    width: 1.28571429em;
    text-align: center;
}
.fw-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.fw-ul > li {
    position: relative;
}
.fw-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.fw-li.fw-lg {
    left: -1.85714286em;
}
.fw-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.fw-background {
    background: #888;
    border-radius: .3em;
    padding: .4em .50em .45em;
}
.fw-pull-left {
    float: left;
}
.fw-pull-right {
    float: right;
}
.fw.fw-pull-left {
    margin-right: .3em;
}
.fw.fw-pull-right {
    margin-left: .3em;
}
.fw-spin {
    -webkit-animation: fw-spin 2s infinite linear;
    animation: fw-spin 2s infinite linear;
}
@-webkit-keyframes fw-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fw-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fw-pulse {
    -webkit-animation: fw-pulse 2s ease-out infinite;
    animation: fw-pulse 2s ease-out infinite;
}
@-webkit-keyframes fw-pulse {
    0%, 30%  {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@keyframes fw-pulse {
    0%, 30%  {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
.fw-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fw-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fw-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fw-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.fw-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .fw-rotate-90,
:root .fw-rotate-180,
:root .fw-rotate-270,
:root .fw-flip-horizontal,
:root .fw-flip-vertical {
    filter: none;
}
.fw-stack,
.fw-helper {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.85em;
    vertical-align: middle;
}
.fw-stack-1x,
.fw-stack-2x,
.fw-helper:before,
.fw-helper:after {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fw-stack-1x,
.fw-helper:before {
    line-height: inherit;
}
.fw-stack-2x,
.fw-helper:after {
    font-size: 1.9em;
}
.fw-helper-slash:before {
    font-size: 1.4em;
}
.fw-helper-circle:before,
.fw-helper-square:before {
    z-index: 1;
}
.fw-helper-circle-outline:after {
    content: "\e61f";
}
.fw-helper-circle:after {
    content: "\e61a";
}
.fw-helper-square-outline:after {
    content: "\e6b2";
}
.fw-helper-square:after {
    content: "\e6b1";
}
.fw-helper-slash:after {
    content: "\e6e1";
}
.fw-stack > .fw-stack {
    position: absolute;
    font-size: 0.5em;
}
.fw-stack > .fw-stack.fw-move-top {
    top: -0.2em;
}
.fw-stack > .fw-stack.fw-move-bottom {
    bottom: -0.2em;
}
.fw-stack > .fw.stack.fw-move-left {
    left: -0.5em;
}
.fw-stack > .fw-stack.fw-move-right {
    right: -0.5em;
}
.fw-inverse:before,
.fw-helper-inverse:after,
.fw-number {
    color: #ffffff;
}
.fw-shadow:before,
.fw-helper-shadow:after {
    text-shadow: #ffffff 1px 1px 0;
}
.fw-stroke:before,
.fw-helper-stroke:after {
    text-shadow: -2px -2px 0 #ffffff,  
                 2px -2px 0 #ffffff,
                 -2px 2px 0 #ffffff,
                 2px 2px 0 #ffffff;
}
.fw-number {
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}


/* ========================================================================
 * font icons
 * ======================================================================== */

.fw-abort:before {
    content:"\e72a";
}

.fw-action-invoke:before {
    content:"\e6fe";
}

.fw-action:before {
    content:"\e709";
}

.fw-activate:before {
    content:"\e6cf";
}

.fw-add:before {
    content:"\e615";
}

.fw-airplay:before {
    content:"\e600";
}

.fw-alarm:before {
    content:"\e6c2";
}

.fw-alert:before {
    content:"\e6be";
}

.fw-analytics-extensions:before {
    content:"\e6e2";
}

.fw-android-logcat:before {
    content:"\e72c";
}

.fw-android-sense:before {
    content:"\e72d";
}

.fw-android:before {
    content:"\e606";
}

.fw-annotation:before {
    content:"\e6e6";
}

.fw-api:before {
    content:"\e601";
}

.fw-apn:before {
    content:"\e602";
}

.fw-apple:before {
    content:"\e604";
}

.fw-application:before {
    content:"\e608";
}

.fw-arduino:before {
    content:"\e6ab";
}

.fw-assign:before {
    content:"\e6ff";
}

.fw-ballerina-service:before {
    content:"\e729";
}

.fw-ballerina:before {
    content:"\e728";
}

.fw-bar-chart:before {
    content:"\e690";
}

.fw-battery:before {
    content:"\e60a";
}

.fw-blank-document:before {
    content:"\e60c";
}

.fw-block:before {
    content:"\e695";
}

.fw-bookmark:before {
    content:"\e60d";
}

.fw-bpel:before {
    content:"\e60e";
}

.fw-bpmn:before {
    content:"\e60f";
}

.fw-break:before {
    content:"\e721";
}

.fw-bug:before {
    content:"\e611";
}

.fw-build:before {
    content:"\e6c1";
}

.fw-calendar:before {
    content:"\e612";
}

.fw-camera:before {
    content:"\e613";
}

.fw-cancel:before {
    content:"\e618";
}

.fw-carbon:before {
    content:"\e6c5";
}

.fw-chat:before {
    content:"\e65b";
}

.fw-check:before {
    content:"\e617";
}

.fw-checklist:before {
    content:"\e619";
}

.fw-circle-outline:before {
    content:"\e61f";
}

.fw-circle:before {
    content:"\e61a";
}

.fw-clear:before {
    content:"\e61b";
}

.fw-clock:before {
    content:"\e61d";
}

.fw-cloud:before {
    content:"\e61e";
}

.fw-code-view:before {
    content:"\e70e";
}

.fw-code:before {
    content:"\e6f1";
}

.fw-comment:before {
    content:"\e710";
}

.fw-compare:before {
    content:"\e610";
}

.fw-computer:before {
    content:"\e653";
}

.fw-configarations:before {
    content:"\e609";
}

.fw-connector:before {
    content:"\e700";
}

.fw-console:before {
    content:"\e71d";
}

.fw-constant:before {
    content:"\e701";
}

.fw-contact:before {
    content:"\e620";
}

.fw-contract:before {
    content:"\e614";
}

.fw-copy:before {
    content:"\e621";
}

.fw-cut:before {
    content:"\e6f2";
}

.fw-dashboard:before {
    content:"\e622";
}

.fw-database:before {
    content:"\e623";
}

.fw-delete:before {
    content:"\e624";
}

.fw-depend:before {
    content:"\e6c6";
}

.fw-deploy:before {
    content:"\e625";
}

.fw-deprecate:before {
    content:"\e6cb";
}

.fw-design-view:before {
    content:"\e70f";
}

.fw-devices:before {
    content:"\e704";
}

.fw-dgm-action-invoke:before {
    content:"\e712";
}

.fw-dgm-action:before {
    content:"\e711";
}

.fw-dgm-connector:before {
    content:"\e6f4";
}

.fw-dgm-constant-definition:before {
    content:"\e6f5";
}

.fw-dgm-fork:before {
    content:"\e6e7";
}

.fw-dgm-header:before {
    content:"\e6e8";
}

.fw-dgm-if-else:before {
    content:"\e6e9";
}

.fw-dgm-import:before {
    content:"\e717";
}

.fw-dgm-lifeline:before {
    content:"\e6ea";
}

.fw-dgm-logger:before {
    content:"\e6eb";
}

.fw-dgm-resource:before {
    content:"\e6f6";
}

.fw-dgm-service:before {
    content:"\e6f7";
}

.fw-dgm-try-catch:before {
    content:"\e6ec";
}

.fw-dgm-type-convertor:before {
    content:"\e6f8";
}

.fw-dgm-type:before {
    content:"\e6f9";
}

.fw-dgm-while:before {
    content:"\e707";
}

.fw-dial-up:before {
    content:"\e627";
}

.fw-disabled:before {
    content:"\e6d1";
}

.fw-display:before {
    content:"\e626";
}

.fw-docker:before {
    content:"\e70c";
}

.fw-document:before {
    content:"\e628";
}

.fw-down-arrow:before {
    content:"\e689";
}

.fw-down:before {
    content:"\e685";
}

.fw-download:before {
    content:"\e65f";
}

.fw-dss:before {
    content:"\e62a";
}

.fw-ebook:before {
    content:"\e62b";
}

.fw-edit:before {
    content:"\e62c";
}

.fw-ellipsis:before {
    content:"\e629";
}

.fw-endpoint:before {
    content:"\e62d";
}

.fw-enterprise:before {
    content:"\e6b6";
}

.fw-error:before {
    content:"\e630";
}

.fw-esb-connector:before {
    content:"\e6e3";
}

.fw-expand:before {
    content:"\e61c";
}

.fw-export:before {
    content:"\e631";
}

.fw-extensions:before {
    content:"\e6e4";
}

.fw-facebook:before {
    content:"\e6d3";
}

.fw-factory-reset:before {
    content:"\e632";
}

.fw-fan:before {
    content:"\e678";
}

.fw-faq:before {
    content:"\e62f";
}

.fw-file-browse:before {
    content:"\e633";
}

.fw-filter:before {
    content:"\e634";
}

.fw-folder-open:before {
    content:"\e70b";
}

.fw-folder:before {
    content:"\e62e";
}

.fw-fork-join:before {
    content:"\e720";
}

.fw-format:before {
    content:"\e6fa";
}

.fw-forum:before {
    content:"\e636";
}

.fw-function-invoke:before {
    content:"\e713";
}

.fw-function:before {
    content:"\e6fb";
}

.fw-gadget:before {
    content:"\e637";
}

.fw-geo-fence-inbound:before {
    content:"\e72e";
}

.fw-geo-fence-outbound:before {
    content:"\e72f";
}

.fw-github:before {
    content:"\e6d4";
}

.fw-globe:before {
    content:"\e697";
}

.fw-google-docs:before {
    content:"\e6d6";
}

.fw-google-drive:before {
    content:"\e6da";
}

.fw-google-plus:before {
    content:"\e6d9";
}

.fw-google-sheets:before {
    content:"\e6d7";
}

.fw-google-slides:before {
    content:"\e6d8";
}

.fw-google:before {
    content:"\e6d5";
}

.fw-grid:before {
    content:"\e638";
}

.fw-grip:before {
    content:"\e6b7";
}

.fw-group:before {
    content:"\e6af";
}

.fw-hardware:before {
    content:"\e6a9";
}

.fw-hdd:before {
    content:"\e639";
}

.fw-heart:before {
    content:"\e6c3";
}

.fw-hide:before {
    content:"\e6d2";
}

.fw-home:before {
    content:"\e63a";
}

.fw-hour-glass:before {
    content:"\e63b";
}

.fw-html:before {
    content:"\e69d";
}

.fw-http:before {
    content:"\e705";
}

.fw-image:before {
    content:"\e70a";
}

.fw-import:before {
    content:"\e63c";
}

.fw-incoming-call:before {
    content:"\e63d";
}

.fw-info:before {
    content:"\e63e";
}

.fw-instagram:before {
    content:"\e6db";
}

.fw-invitation:before {
    content:"\e63f";
}

.fw-invoke:before {
    content:"\e6ed";
}

.fw-is-connector:before {
    content:"\e6e5";
}

.fw-iterate:before {
    content:"\e71f";
}

.fw-jaggery:before {
    content:"\e640";
}

.fw-java-spring:before {
    content:"\e644";
}

.fw-java:before {
    content:"\e641";
}

.fw-javaee:before {
    content:"\e642";
}

.fw-javascript:before {
    content:"\e643";
}

.fw-jaxrs:before {
    content:"\e645";
}

.fw-jaxws:before {
    content:"\e6c7";
}

.fw-jquery:before {
    content:"\e646";
}

.fw-key:before {
    content:"\e647";
}

.fw-laptop:before {
    content:"\e648";
}

.fw-layout:before {
    content:"\e6bf";
}

.fw-ldap:before {
    content:"\e649";
}

.fw-left-arrow:before {
    content:"\e68a";
}

.fw-left:before {
    content:"\e686";
}

.fw-lifecycle:before {
    content:"\e64a";
}

.fw-light:before {
    content:"\e680";
}

.fw-linkedin:before {
    content:"\e6dc";
}

.fw-list-sort:before {
    content:"\e64d";
}

.fw-list:before {
    content:"\e64c";
}

.fw-loader:before {
    content:"\e6b4";
}

.fw-loader2:before {
    content:"\e6ba";
}

.fw-loader3:before {
    content:"\e6bb";
}

.fw-loader4:before {
    content:"\e6bc";
}

.fw-loader5:before {
    content:"\e6bd";
}

.fw-lock:before {
    content:"\e64e";
}

.fw-logical:before {
    content:"\e702";
}

.fw-mail:before {
    content:"\e64f";
}

.fw-main-function:before {
    content:"\e706";
}

.fw-map-location:before {
    content:"\e650";
}

.fw-menu:before {
    content:"\e651";
}

.fw-message:before {
    content:"\e635";
}

.fw-micro-services:before {
    content:"\e6ce";
}

.fw-minus:before, .fw-hyphen:before, .fw-dash:before {
    content:"\e616";
}

.fw-mobile:before {
    content:"\e652";
}

.fw-ms-document:before {
    content:"\e654";
}

.fw-mute:before {
    content:"\e655";
}

.fw-nodejs:before {
    content:"\e656";
}

.fw-notification:before {
    content:"\e60b";
}

.fw-organization:before {
    content:"\e6ac";
}

.fw-own:before {
    content:"\e6c8";
}

.fw-package:before {
    content:"\e6fd";
}

.fw-pages:before {
    content:"\e6c0";
}

.fw-paste:before {
    content:"\e658";
}

.fw-pdf:before {
    content:"\e659";
}

.fw-pending:before {
    content:"\e727";
}

.fw-php:before {
    content:"\e6c9";
}

.fw-pie-chart:before {
    content:"\e65a";
}

.fw-pinterest:before {
    content:"\e6dd";
}

.fw-policy:before {
    content:"\e67d";
}

.fw-polygon:before {
    content:"\e70d";
}

.fw-prototype:before {
    content:"\e6cc";
}

.fw-proxy:before {
    content:"\e699";
}

.fw-public:before {
    content:"\e6ad";
}

.fw-publish:before {
    content:"\e65c";
}

.fw-question:before {
    content:"\e6b0";
}

.fw-raspberry:before {
    content:"\e6aa";
}

.fw-redo:before {
    content:"\e65d";
}

.fw-refresh:before {
    content:"\e692";
}

.fw-register:before {
    content:"\e65e";
}

.fw-rename:before {
    content:"\e6fc";
}

.fw-reply:before {
    content:"\e714";
}

.fw-resource:before {
    content:"\e660";
}

.fw-rest-api:before {
    content:"\e661";
}

.fw-rest-service:before {
    content:"\e662";
}

.fw-resume:before {
    content:"\e71e";
}

.fw-retire:before {
    content:"\e6cd";
}

.fw-return:before {
    content:"\e715";
}

.fw-retweet:before {
    content:"\e6b9";
}

.fw-right-arrow:before {
    content:"\e68b";
}

.fw-right:before {
    content:"\e687";
}

.fw-ringing:before {
    content:"\e694";
}

.fw-rules:before {
    content:"\e664";
}

.fw-run:before {
    content:"\e708";
}

.fw-save:before {
    content:"\e665";
}

.fw-scep:before {
    content:"\e666";
}

.fw-schema:before {
    content:"\e667";
}

.fw-search:before {
    content:"\e668";
}

.fw-security-policy:before {
    content:"\e67e";
}

.fw-security:before {
    content:"\e669";
}

.fw-send:before, .fw-paper-rocket:before {
    content:"\e66a";
}

.fw-sequence:before {
    content:"\e66b";
}

.fw-server:before {
    content:"\e66c";
}

.fw-service-provider:before {
    content:"\e66e";
}

.fw-service:before, .fw-cogwheels:before, .fw-gears:before, .fw-sprockets:before {
    content:"\e66d";
}

.fw-settings:before, .fw-cogwheel:before, .fw-gear:before, .fw-sprocket:before {
    content:"\e66f";
}

.fw-share:before {
    content:"\e670";
}

.fw-shell:before {
    content:"\e730";
}

.fw-shortcut:before {
    content:"\e725";
}

.fw-sign-in:before {
    content:"\e671";
}

.fw-sign-out:before {
    content:"\e6b8";
}

.fw-skype:before {
    content:"\e6de";
}

.fw-slash:before {
    content:"\e6e1";
}

.fw-soap:before {
    content:"\e672";
}

.fw-sort-down:before {
    content:"\e663";
}

.fw-sort-up:before {
    content:"\e64b";
}

.fw-sort:before {
    content:"\e673";
}

.fw-speed-alert:before {
    content:"\e731";
}

.fw-square-outline:before {
    content:"\e6b2";
}

.fw-square:before {
    content:"\e6b1";
}

.fw-star:before {
    content:"\e674";
}

.fw-start:before {
    content:"\e718";
}

.fw-statistics:before {
    content:"\e675";
}

.fw-stepin:before {
    content:"\e719";
}

.fw-stepout:before {
    content:"\e71a";
}

.fw-stepover:before {
    content:"\e71b";
}

.fw-stop:before {
    content:"\e71c";
}

.fw-store:before, .fw-cart:before {
    content:"\e676";
}

.fw-struct:before {
    content:"\e716";
}

.fw-subscribe:before {
    content:"\e677";
}

.fw-success:before {
    content:"\e657";
}

.fw-swagger:before {
    content:"\e679";
}

.fw-sync:before {
    content:"\e6b3";
}

.fw-table:before {
    content:"\e6c4";
}

.fw-tag:before {
    content:"\e67a";
}

.fw-task:before {
    content:"\e67b";
}

.fw-text:before {
    content:"\e67c";
}

.fw-theme:before {
    content:"\e726";
}

.fw-throttling-policy:before {
    content:"\e67f";
}

.fw-throw:before {
    content:"\e722";
}

.fw-tiles:before {
    content:"\e681";
}

.fw-transaction:before {
    content:"\e72b";
}

.fw-try-catch:before {
    content:"\e703";
}

.fw-twitter:before {
    content:"\e6df";
}

.fw-type-converter:before {
    content:"\e6f3";
}

.fw-uncheck:before {
    content:"\e682";
}

.fw-undo:before {
    content:"\e683";
}

.fw-ungroup:before {
    content:"\e6b5";
}

.fw-unmute:before {
    content:"\e6ae";
}

.fw-up-arrow:before {
    content:"\e688";
}

.fw-up:before {
    content:"\e684";
}

.fw-upload:before {
    content:"\e68c";
}

.fw-uri:before {
    content:"\e68d";
}

.fw-usb-drive:before {
    content:"\e68e";
}

.fw-use:before {
    content:"\e6ca";
}

.fw-user:before {
    content:"\e68f";
}

.fw-variable:before {
    content:"\e6ee";
}

.fw-view:before {
    content:"\e691";
}

.fw-vpn:before {
    content:"\e603";
}

.fw-wadl:before {
    content:"\e6a1";
}

.fw-war:before {
    content:"\e69e";
}

.fw-warning:before {
    content:"\e693";
}

.fw-web-app:before {
    content:"\e696";
}

.fw-web-clip:before {
    content:"\e698";
}

.fw-web-service:before {
    content:"\e69a";
}

.fw-website:before {
    content:"\e69b";
}

.fw-wifi:before {
    content:"\e607";
}

.fw-windows:before {
    content:"\e605";
}

.fw-worker-invoke:before {
    content:"\e723";
}

.fw-worker-reply:before {
    content:"\e724";
}

.fw-worker:before {
    content:"\e6ef";
}

.fw-wsdl:before {
    content:"\e6a0";
}

.fw-wso2-logo:before {
    content:"\e6a7";
}

.fw-wso2:before {
    content:"\e6a8";
}

.fw-xacml:before {
    content:"\e69f";
}

.fw-xml:before {
    content:"\e69c";
}

.fw-xq:before {
    content:"\e6a2";
}

.fw-xsd:before {
    content:"\e6a3";
}

.fw-xslt:before {
    content:"\e6a4";
}

.fw-youtube:before {
    content:"\e6e0";
}

.fw-zoom-in:before {
    content:"\e6a5";
}

.fw-zoom-out:before {
    content:"\e6a6";
}

